{% assign image1 = section.settings.image1 %}
{% assign image2 = section.settings.image2 %}
{% assign image3 = section.settings.image3 %}
{% assign image4 = section.settings.image4 %}

<style>
  #sub-catogory {
    display: flex;
    flex-direction: row;
    gap:2rem;
    align-items: center;
  }
  #sub-catogory div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  #sub-catogory img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #sub-catogory div:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #000; /* Change border color as needed */
    border-radius: 50%;
    box-sizing: border-box;
  }
</style>

<div id="sub-catogory">
  <div id="img1">
    <a href="{{ section.settings.image1url }}">
      <img src="{{ image1 | img_url: '300x' }}" alt="Image 1">
    </a>
  </div>
  <div id="img2">
    <a href="{{ section.settings.image2url }}">
      <img src="{{ image2 | img_url: '300x' }}" alt="Image 2">
    </a>
  </div>
  <div id="img3">
    <a href="{{ section.settings.image3url }}">
      <img src="{{ image3 | img_url: '300x' }}" alt="Image 3">
    </a>
  </div>
  <div id="img4">
    <a href="{{ section.settings.image4url }}">
      <img src="{{ image4 | img_url: '300x' }}" alt="Image 4">
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Sub Category",
  "tag": "section",
  "settings": [
    {
      "type": "url",
      "id": "image1url",
      "label": "URL for Image 1"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "url",
      "id": "image2url",
      "label": "URL for Image 2"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "url",
      "id": "image3url",
      "label": "URL for Image 3"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "url",
      "id": "image4url",
      "label": "URL for Image 4"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    }
  ],
  "presets": [
    {
      "name": "Sub Category"
    }
  ]
}
{% endschema %}
